.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-product-1 {
  min-height: 509px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-1 .u-gallery-1 {
  width: 540px;
  height: 433px;
  margin: 0 auto 0 11px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-right: 10px;
  padding-top: 0;
  padding-left: 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 110px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  right: 0;
}

.u-section-1 .u-text-1 {
  margin: -393px 182px 0 609px;
}

.u-section-1 .u-product-price-1 {
  margin: 11px 388px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 89px auto 0 609px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px auto 0 609px;
  padding: 10px 43px 10px 42px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -203px 339px 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -40px 136px 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  margin: -162px 0 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-product-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-1 {
    width: 471px;
    height: 357px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -328px;
    margin-right: 92px;
    margin-left: 515px;
  }

  .u-section-1 .u-product-price-1 {
    margin-right: 208px;
    margin-left: 515px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 515px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 515px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -234px;
    margin-right: 211px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -183px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-1 .u-product-1 {
    min-height: 665px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-gallery-1 {
    width: 660px;
    height: 553px;
    margin-top: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
    margin-right: 0;
    margin-left: 110px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 110px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 110px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
    margin-left: 110px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -194px;
    margin-right: auto;
    margin-left: 110px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-1 .u-product-1 {
    margin-bottom: 26px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-gallery-1 {
    width: 520px;
    height: 415px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 287px;
    margin-left: 0;
  }

  .u-section-1 .u-product-price-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 148px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-product-1 {
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-1 .u-gallery-1 {
    width: 320px;
    height: 209px;
    margin-top: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 125px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -258px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 18px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -152px;
  }
}