{% extends 'Base.html' %}
{% load static %}
{% block title %} Home | Pyrenean {% endblock title %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/Home.css' %}" media="screen">
{% endblock head %}
{% block body %}
<body class="u-body u-xl-mode" data-lang="en">
  <section class="u-align-center u-clearfix u-grey-5 u-section-1" id="sec-fc73">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-default u-text-1">Mens<br>
      </h1>
      <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          {% for men in Products %}
              {% if men.category == "Mens" %}
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
          {% if not men.stock %}
            <div class="ProductItem__LabelList">
              <span class="ProductItem__Label ProductItem__Label--soldOut Heading Text--subdued">OUT OF STOCK</span>
              </div>
            {% endif %}
          <a href="/ProductDetails/{{men.slug}}">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <img alt="" style="mix-blend-mode: darken"
                class="u-expanded-width-lg u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-image u-image-default u-image-1"
                data-image-width="1280" data-image-height="781"
                src="{{men.picture}}">
                <h6 class="" style="color: grey;margin: 5px 0px;">Pyrenean Clothing</h6>
              <h5 class="u-text u-text-2" style="margin: 5px 0 0;">{{men.name|slice:"26"}}...</h5>
                <span><strong>&#8377;{{ men.discounted_price }}</strong></span>
                <span style="text-decoration: line-through; color: grey;">&#8377;{{men.price}}</span>
                <span style="color: green">Discount {{ men.discount }}% off</span>
            <div>Sizes:
                <span>
                    <strong>
                        {% for size in Size %}
                            {% if size.product_id == men.id %}
                                {{ size.size }}
                            {% endif %}
                        {% endfor %}
                    </strong>
                </span>
            </div>
            </div>
          </a>
          </div>
              {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-grey-5 u-section-2" id="sec-848b">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-default u-text-1">UniSex<br>
      </h1>
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          {% for Kid in Products %}
              {% if Kid.category == "UniSex" %}
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
          {% if not Kid.stock %}
            <div class="ProductItem__LabelList">
              <span class="ProductItem__Label ProductItem__Label--soldOut Heading Text--subdued">OUT OF STOCK</span>
              </div>
            {% endif %}
          <a href="/ProductDetails/{{Kid.slug}}">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <img alt="" style="mix-blend-mode: darken"
                class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-image u-image-default u-image-1"
                data-image-width="1280" data-image-height="781"
                src="{{Kid.picture}}">
              <h5 class="u-text u-text-2">{{Kid.name|slice:"26"}}...</h5>
                <span><strong>&#8377;{{ Kid.discounted_price }}</strong></span>
                <span style="text-decoration: line-through; color: grey;">&#8377;{{Kid.price}}</span>
                <span style="color: green">Discount {{ Kid.discount }}% off</span>
            <div>Sizes:
                <span>
                    <strong>
                        {% for size in Size %}
                            {% if size.product_id == Kid.id %}
                                {{ size.size }}
                            {% endif %}
                        {% endfor %}
                    </strong>
                </span>
            </div>
            </div>
          </a>
          </div>
              {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-grey-5 u-section-3" id="sec-a181">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-default u-text-1">Women</h1>
      <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          {% for women in Products %}
              {% if women.category == "Women" %}
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
          {% if not women.stock %}
            <div class="ProductItem__LabelList">
              <span class="ProductItem__Label ProductItem__Label--soldOut Heading Text--subdued">OUT OF STOCK</span>
              </div>
            {% endif %}
          <a href="/ProductDetails/{{women.slug}}">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <img alt="" style="mix-blend-mode: darken"
                class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-image u-image-default u-image-1"
                data-image-width="1280" data-image-height="781"
                src="{{women.picture}}">
              <h5 class="u-text u-text-2">{{women.name|slice:"26"}}...</h5>
                <span><strong>&#8377;{{ women.discounted_price }}</strong></span>
                <span style="text-decoration: line-through; color: grey;">&#8377;{{women.price}}</span>
                <span style="color: green">Discount {{ women.discount }}% off</span>
            <div>Sizes:
                <span>
                    <strong>
                        {% for size in Size %}
                            {% if size.product_id == women.id %}
                                {{ size.size }}
                            {% endif %}
                        {% endfor %}
                    </strong>
                </span>
            </div>
            </div>
          </a>
          </div>
              {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>





</body>

{% endblock body %}