<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
   <meta charset="utf-8">
   <title>Login | Pyrenean</title>
   <link rel="stylesheet" href="{% static 'css/login.css' %}" media="screen" />
</head>

<body>
   <div class="wrapper">
      <div class="title">
         Login Form
      </div>
      <form method="POST">
         <div class="container">{{context.error}}</div>
         <div class="field">
            <input type="text" required name="email_address">
            <label>Email Address</label>
         </div>
         <div class="field">
            <input type="password" required name="password">
            <label>Password</label>
         </div>
         <div class="content">
            <div class="checkbox">
               <input type="checkbox" id="remember-me">
               <label for="remember-me">Remember me</label>
            </div>
            <div class="pass-link">
               <a href="#">Forgot password?</a>
            </div>
         </div>
         <div class="field">
            <input type="submit" value="Login">
         </div>
         <div class="signup-link">
            Not a member? <a href="/register">Signup now</a>
         </div>
      </form>
   </div>
</body>

</html>

{% comment %} {% block content %}
{% load crispy_forms_tags %}

<div class="container py-5">
   <h1>Login</h1>
   <form method="POST">
      {% csrf_token %}
      {{ login_form|crispy }}
      <button class="btn btn-primary" type="submit">Login</button>
   </form>
   <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div> {% endcomment %}

{% comment %} {% endblock %} {% endcomment %}

{% comment %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>LOGIN</title>
</head>

<body>
   <form align="center" action="/login" method="post">
      {% csrf_token %}

      <h1>LOGIN</h1>

      <h3>username</h3>
      <input type="text" name="username">

      <h3>password</h3>
      <input type="password" name="password"><br><br>

      <input type="submit">

      <div>
         {% for message in messages %}
         <h2>{{message}}</h2>
         {% endfor %}
      </div>

   </form>

</body>

</html> {% endcomment %}