<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Service</title>
    <link rel="stylesheet" href="../static/css/terms_condition.css">
</head>

<body>

    <section id="terms-of-service">
        <div class="card">
            <h1 class="primary-heading">Terms of Service</h1>
            <p class="paragraph">
                1) Acceptance of Terms: By using our website (www.pyreneanclothing.com), you agree to comply with and be
                bound by these terms and conditions.
                If you do not agree to these terms, please do not use our site.

                <br><br><br>
                2) Privacy Policy: We take your privacy seriously. Our Privacy Policy explains how we collect, use, and
                protect your personal information.
                <br><br><br>

                <span class="bold"> Orders and Payments:</span>

                <br><br><br>
                3) You must be 18 years of age or older to place an order.
                All orders are subject to availability and confirmation.
                <br><br><br>
                4)Payment is required at the time of order placement. We accept various payment methods, including
                credit cards, debit cards, UPI, and other methods.
                Shipping and Delivery:
                <br><br><br>
                5)We aim to deliver your order within the estimated timeframe provided during checkout.
                Shipping fees, delivery times, and methods will be specified during the checkout process.
                
                <br><br><br>

                <span class="bold"> Returns and Refunds:</span>

                <br><br><br>
                6) You can return the items within 7 days of purchase.
                Refunds will be initiated after the items are collected by our member.
                You will be notified within 48 hours.
                Intellectual Property:
                <br><br><br>
                7) All content on our website, including images, text, logos, and designs, is protected by copyright and
                other intellectual property laws.
                You may not use our content without our express permission.
                
                <br><br><br>

                <span class="bold"> User Accounts: </span>
                <br><br><br>
                8) You may be required to create a user account to access certain features of our website.
                You are responsible for maintaining the confidentiality of your account information.
                
                <br><br><br>

                <span class="bold"> Prohibited Activities:</span>

                <br><br><br> 

                9)
                You agree not to engage in any activity that may disrupt or interfere with the functioning of our
                website.
                You may not use our website for any illegal or unauthorized purposes.
                Links to Third-Party Websites: Our website may contain links to third-party websites. We are not
                responsible for the content or practices of these websites.

                <br><br><br>
                10)Limitation of Liability: We are not liable for any damages or losses that may result from the use of
                our website or products.

                <br><br><br>

                11)
                Changes to Terms: We reserve the right to update and modify these terms and conditions at any time. Any
                changes will be effective upon posting on our website.

                <br><br><br>

                12)
                Governing Law: These terms and conditions are governed by the laws of The Constitution of India, and any
                disputes will be resolved in the appropriate courts of that jurisdiction.
                <br><br><br>

                13)Contact Information: If you have any questions or concerns about these terms and conditions, you can
                contact us at [Your Contact Information].
            </p>
        </div>
    </section>
    <footer>
        <p class="footer-heading">© Copyright 2023-24 Vittzios. All rights reserved.</p>
    </footer>
</body>

</html>