<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data | Pyrenean </title>
    <link rel="stylesheet" href="../static/css/user-data.css">
</head>
<body>
<div class="contact_us_2">
    <div class="responsive-container-block big-container">
      <div class="blueBG">
      </div>
      <div class="responsive-container-block container">
        
        <form class="form-box"  action="/edit_user_data/">
          <div class="container-block form-wrapper">
            <p class="text-blk contactus-head">
              Personal Data
            </p>
            <p class="text-blk contactus-subhead">
            </p>
            <div class="responsive-container-block">
              <div class="responsive-wrapper">
              <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6" id="i10mt">
                <p class="text-blk input-title">
                  FIRST NAME
                </p>
                <h6 class="text-lbl"> : {{context.username}}</h6>
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">
                  EMAIL
                </p>
                <h6 class="text-lbl"> : {{context.email}}</h6>
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">
                  PHONE NUMBER
                </p>
                <h6 class="text-lbl"> : {{context.phone_number}}</h6>
              </div>
            </div>
              <p class="text-blk contactus-head">
                Address Data
              </p>
              <div class="responsive-wrapper">
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">
                  building or Home 
                </p>
                <h6 class="text-lbl"> : {{context.building}}</h6>
              </div>

              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">
                    street 
                </p>
                <h6 class="text-lbl"> : {{context.street}}</h6>
              </div>

              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">
                  area 
                </p>
                <h6 class="text-lbl"> : {{context.area}}</h6>
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">
                  pincode 
                </p>
                <h6 class="text-lbl"> : {{context.pincode}}</h6>
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">
                  city 
                </p>
                <h6 class="text-lbl"> : {{context.city}}</h6>
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">
                  state 
                </p>
                <h6 class="text-lbl"> : {{context.state}}</h6>
              </div>
              </div>
             
            </div>
            <button class="submit-btn">edit address</button>
          </div>
          <div class="social-media-links">
            <a href="#" id="ix94i-2">
              <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-twitter.png">
            </a>
            <a href="#">
              <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-facebook.png">
            </a>
            <a href="#">
              <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-google.png">
            </a>
            <a href="#" id="izldf-2">
              <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-instagram.png">
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
